* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-weight: 400;
    font-family: 'Roboto Mono', monospace;
}

.main {
    background-image: url('../img/background.jpeg');
    min-height: 100vh;
    width: 100%;
    background-position: bottom;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 55%;
    min-height: 50vh;
    background-color: rgba(247, 247, 247, .92);
    border-radius: .2rem;
    display: flex;
}

.player-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}

.player {
    color: #333;
    font-size: 4.5rem;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    position: relative;
}

.main-score {
    color: #a4031f;
    font-size: 5.5rem;
    flex: 0 0 40%;
}

.current-score {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(228, 74, 74);
    width: 12rem;
    height: 7rem;
    border-radius: .2rem;
    text-align: center;
}

.paragraph-current {
    color: #fff;
    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
}

.current-score {
    color: #fff;
    font-size: 1.8rem;
}

.dice-controls {
    width: 33.3333%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;
}

.dice {
    flex: 0 0 60%;
}

.buttons {
    width: 20rem;
    height: 4.5rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


.dice-icons {
    font-size: 2.2rem;
    color: #a4031f;
    margin-right: 1.5rem;
    transition: all .2s linear;
}

.btn {
    border: none;
    background-color: transparent;
    font-size: 2rem;
    color: #333;
    margin-left: 1.5rem;
    cursor: pointer;
    padding: 1rem 1rem;
    outline: none;
    
}

/* actives js */

.winner {
    background-color: #fff;
}

.winner .player-one::after {
    content: "\2022";
    font-size: 50px;
    position: absolute;
    color: #a4031f;
    right: -4rem;
    top: 0rem;
}
.winner .player-two::after {
    content: "\2022";
    font-size: 50px;
    position: absolute;
    color: #a4031f;
    right: -4rem;
    top: 0rem;
}

.active-dice-icons .dice-icons {
    margin-right: 2.5rem;
}

.dice.active-dice {
    opacity: 0;
}
